<nav>
    <div>
        <img src="" alt="lgo">
    </div>
    <div>
        <ul>
            <li><a href="#">menu</a></li>
            <li><a href="#">offer</a></li>
            <li><a href="#">cart</a></li>
            <li><a href="#">login</a></li>
            <li><a href="#">location</a></li>
            <li><a href="#"><img src="" alt="logos"><a></li>
        </ul>
    </div>
</nav>